<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="httpPlatformHandler" />
      <add name="httpPlatformHandler"
           path="*"
           verb="*"
           modules="httpPlatformHandler"
           resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\Python311\python.exe"
                  arguments="-m uvicorn main:app --host 127.0.0.1 --port %HTTP_PLATFORM_PORT% --proxy-headers --forwarded-allow-ips=127.0.0.1"
                  stdoutLogEnabled="true"
                  stdoutLogFile=".\logs\stdout"
                  startupTimeLimit="120"
                  startupRetryCount="3"
                  requestTimeout="00:03:00">
    </httpPlatform>
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="16777216" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>